# 리스트(List)
    - 반복 가능
    - 원소 자료형 무관
    - 데이터 변경 가능 (내부 데이터 수정 삭제가 자유롭다)
    - 인덱싱과 슬라이싱을 통해 내부 원소에 접근
    - 리스트 내부 원소들의 자료형은 일관되지 않아도 된다
    - 어떠한 자료형을 가지는지 신경 쓰지 않아도 된다
# 튜플(Tuple)
    - 변경 불가능 (내부 데이터 수정 삭제 불가능)
    - 반복 가능
    - 원소 자료형 무관
    - 내부 원소들의 자료형은 일관되지 않아도 된다
    - 어떠한 자료형을 가지는지 신경 쓰지 않아도 된다
# 언패킹(Unpakcing)
    - 튜플이나 리스트와 같은 시퀀스 자료형의 요소들을 여러 변수에 나누어 할당하는 것

# 가변인자
    - 함수가 임의의 개수의 인자를 받아들이도록 도와준다.
    - *args와 **kwargs를 사용
    - *args : 여러 개의 위치 인자를 튜플로 받는다.
    - **kwargs : 키워드 인자를 딕셔너리로 받는다.

In [1]:
my_first_list = [0, 1, 2, 3, 4, 5]
print(type(my_first_list))

<class 'list'>

In [2]:
print(len(my_first_list))

6

In [3]:
for i in my_first_list:
    print(i, end =" ")

0 1 2 3 4 5

In [4]:
print(my_first_list[0]) # 0번째 원소
print(my_first_list[-1]) # 마지막 원소
print(my_first_list[-3]) # 뒤에서 3번째 원소

0
5
3

In [5]:
print(my_first_list[0:3]) # 0 이상 3 미만의 인덱스의 원소들 슬라이싱
print(type(my_first_list[0:3]))
print(my_first_list[2:3])
print(type(my_first_list[2:3]))
print(my_first_list[:]) # 전체 원소
print(type(my_first_list[:]))

[0, 1, 2]
<class 'list'>
[2]
<class 'list'>
[0, 1, 2, 3, 4, 5]
<class 'list'>

In [6]:
print(my_first_list[2:5])
print(my_first_list[2:5:1]) # 2번 인덱스부터 4번 인덱스까지 1칸씩
print(my_first_list[2:5:2]) # 2번 인덱스부터 4번 인덱스까지 2칸씩

[2, 3, 4]
[2, 3, 4]
[2, 4]

In [7]:
my_first_list[0] = 'python' # 0번 인덱스 python으로 수정
print(my_first_list)

['python', 1, 2, 3, 4, 5]

In [8]:
my_first_list[3:]="0" # 3번 인덱스 이후는 "0"으로 
print(my_first_list)

['python', 1, 2, '0']

In [9]:
string_eample = 'Hello'
print(string_eample[0])
print(string_eample[2:])

H
llo

In [10]:
list_example = list(string_eample) # 리스트 내장 함수를 활용하여 형 변환
print(list_example)

['H', 'e', 'l', 'l', 'o']

In [11]:
list_example[0] = 'h'
string_eample= "".join(list_example)
print(string_eample)

hello

In [12]:
my_second_list = ['A', None, 3,4.01, [5]]
print(my_second_list)

['A', None, 3, 4.01, [5]]

In [13]:
for i in my_second_list:
    print(i, end=' ')

A None 3 4.01 [5]

In [14]:
print(my_second_list[-1])

[5]

In [2]:
my_first_tuple = (0, 1, 2, 3, 4, 5)
print(type(my_first_tuple))
print(len(my_first_tuple))

<class 'tuple'>
6

In [3]:
for i in my_first_tuple:
    print(i, end=" ")

0 1 2 3 4 5

In [4]:
print("\n"+str(my_first_tuple[3]))
print(my_first_tuple[2:5])

3
(2, 3, 4)

In [5]:
print(my_first_tuple[-1:-4:-2])

(5, 3)

In [6]:
my_tuple = (0, 1, "2")
my_second_tuple = (3, 4.0)
my_tuple = my_tuple.__add__(my_second_tuple)
print(my_tuple)

(0, 1, '2', 3, 4.0)

In [9]:
my_tuple = (0, 1, "2")
print(my_tuple.count(0))
print(my_tuple.index("2"))

1
2

In [10]:
my_first_tuple = (0, 1, 2, 3, 4, 5)
print(len(my_first_tuple))
print(max(my_first_tuple))
print(min(my_first_tuple))

6
5
0

In [11]:
tuple_A = (1, 2, 1, 3)
tuple_B = ('a', 'b', 10.0)
print(tuple_A + tuple_B)
print(tuple_A * 3)
print((tuple_A * 3).count(1))

(1, 2, 1, 3, 'a', 'b', 10.0)
(1, 2, 1, 3, 1, 2, 1, 3, 1, 2, 1, 3)
6

In [12]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple # 언패킹
print(a)
print(b)
print(c)

1
2
3

In [13]:
my_tuple = (1, 2, 3, 4, 5)
first, *rest = my_tuple # 첫 번째 요소와 나머지들

print(first)
print(rest)

1
[2, 3, 4, 5]

In [14]:
nested_tuple = (1, (2, 3), 4)
a, (b, c), d = nested_tuple

print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [15]:
def sum_num(*args):
    return (sum(args))
print(sum_num(1, 2, 3))
print(sum_num(1, 2, 3, 4, 5))

6
15

In [18]:
def print_info(**kwargs):
    for k, v in kwargs.items():
        print(f'{k}: {v}')

print_info(name= 'Alice', age=30)

name: Alice
age: 30

In [22]:
def multiply(*args):
    product = 1
    for num in args:
        product *= num
        # print(product)
    return product

numbers = (2, 3, 4)
print(multiply(*numbers))

24